// jumbo main
.jumbo_main {
    height: 400px;
    background-image: url('/resources/img/jumbotron.jpg');
}

// cards main
.cards_main {

    background-color: $secondary;

    .container {

        h1 {
            color: white;
            background-color: $brand_color;
            width: 250px;
            text-align: center;
            position: relative;
            bottom: 20px;
        }

        .cards_container {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .cards {
                width: calc((100% / 6) - 40px);
                margin: 20px;

                .cards-img {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }

                .cards-text {
                    color: white;
                    width: 100%;
                    font-size: 12px;
                }
            }

            button {
                background-color: $brand_color;
                padding: 10px;
                width: 250px;
                margin: 50px 0 20px;

                a {
                    color: white;
                    font-size: 15px;
                }
            }
        }
    }
}

// info main
.info_main {
    background-color: $brand_color;

    .info_container {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 20px 0;

        .info_card {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            color: white;
            font-size: 12px;
            width: 100%;

            img {
                width: 20%;
            }

            &:nth-last-child(2) img {
                width: 13%;
            }
        }
    }
}